services:
  wordpress:
    build:
      context: ./wordpress
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - mariadb
    expose:
      - 80
      - 443
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_NAME: ${WP_DB_NAME}
      WORDPRESS_DB_USER: ${WP_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WP_DB_PASSWORD}
      WORDPRESS_TABLE_PREFIX: ${WP_DB_PREFIX}
      WORDPRESS_DEBUG: ${WORDPRESS_DEBUG:-false}
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_CACHE', true);
        define( 'EIO_WEBP_SHARP_YUV', true ); 
        define( 'ENFORCE_GZIP', true );
        define( 'AUTOSAVE_INTERVAL', 120 );
        define( 'WP_POST_REVISIONS', 10);
        define( 'MEDIA_TRASH', true );
        define( 'EMPTY_TRASH_DAYS', 30 );
    volumes:
      - wordpress-files:/var/www/html:rw
  mariadb:
    image: mariadb:latest
    container_name: ${APP_NAME}-mariadb
    restart: always
    expose:
      - 3306
    environment:
      MYSQL_DATABASE: ${WP_DB_NAME}
      MYSQL_USER: ${WP_DB_USER}
      MYSQL_PASSWORD: ${WP_DB_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: ${WP_DB_ROOT_PASSWORD}
    volumes:
      - mariadb-data:/var/lib/mysql
  adminer:
    image: adminer:latest
    container_name: ${APP_NAME}-adminer
    restart: always
    depends_on:
      - mariadb
    expose:
      - 8080
